server:
  port: 8080

spring:
  application:
    name: UserAuthService
  datasource:
    url : jdbc:postgresql://localhost:5432/testdb
    username: root
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
